.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.more-heading {
  font-weight: bold;
  font-size: 2rem; /* Optional: makes it more prominent */
}
